@page
@model Chirp.Web.Pages.AboutMePageModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
   
    
    @if (User.Identity.IsAuthenticated) {
        <h2> About you and your data </h2>
        <p> @Model.Author </p>
        <p> @Model.Email </p>

       

        <form method="post" id="deleteForm">
            <input type="hidden" name="UserOID" value="@Model.OID">
            <input type="hidden" name="UserEmail" value="@Model.Email">
            <input type="hidden" name="Handler" id="Handler" value=""> <!-- Add a hidden input for the handler -->
            <button type="button" onclick="confirmDelete()"
                style="background-color: red; color: white; border-color: darkred;">Forget Me!</button>
        </form>
        <br>

        <h2> Your Cheeps </h2>
        @if (Model.Cheeps != null && Model.Cheeps.Any())
        {
            <ul id=" messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
        } else
        {
            <p> You haven't cheeped yet! </p>
        }
        <h2> People you follow </h2>
        @if (Model.FollowedName != null && Model.FollowedName.Any())
        {
            <ul id="followerlist" class="followers">
                @foreach (var follower in Model.FollowedName)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@follower">@follower</a>
                            </strong>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p> You don't follow any people yet </p>
        }
        <h2> People who follow you </h2>
        @if (Model.FollowersName != null && Model.FollowersName.Any())
        {
            <ul id="followerlist" class="followers">
                @foreach (var follower in Model.FollowersName)
                {
                    <li>
                        <p>
                            <strong>
                                <a href="/@follower">@follower</a>
                            </strong>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p> No people follow you yet </p>
        }
    }
    else
    {
        <p> You are not logged in </p>
    }
</div>

<script>
    function confirmDelete() {
        var confirmResult = confirm("Are you sure you want to delete all your data on Chirp? \n \nThis action is permanent and cannot be undone");

        if (confirmResult) {
            // If the user clicks "OK" in the confirmation dialog, set the handler and submit the form
            document.getElementById('deleteForm').setAttribute('action', '?handler=Delete');
            document.getElementById('deleteForm').submit();
        }
        // If the user clicks "Cancel" in the confirmation dialog, do nothing
    }
</script>
